h1 { 
    color: white; }

    .Menu {
        border: solid;
        border-color: orange;
        margin-right: 30px; ;
    }
    .Menu a{
        margin-left: 20px;
    }
     .Header{background-color: royalblue;
    display: flex;
    justify-content:space-between;
    border: solid;
    /*border-color: red;*/
    }
    .Sitedescription{background-color:white;}
    .grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .Footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }


    body{
        background-color: white;
    }
   
    
a:link{
    color:white;
}
a:visited{
    color:red;
}
.item{
    position: relative;
    top: 10%;
    left:10%;}